<li [ngClass]="{'list-group-item':true,
                  'list-group-item-success': postLoveIts > 0,
                  'list-group-item-danger': postLoveIts < 0}">

  <div class="row">

      <h3 class="col-xs-6"> {{postTitle }} </h3>


      <div class="col-xs-6" style="font-style: italic; font-size: 1.2em; text-align: right"> {{postDate | date: 'dd/MM/yyyy HH:mm ' }}  </div>
    </div>




  <p>  {{postContent}}</p>

  <div class="btn-group">
    <button type="button" class="btn btn-success" (click)="onPlus()">Love it !!!</button>
    <button type="button" class="btn btn-danger" (click)="onMoins()">Don't love !!!</button>
  </div>
</li>
